.home-mouse {
  padding-top: 60px;
}
.home-mouse span:active {
  top: 80%;
}
.home-mouse-active {
  transform: translate(0, 100%);
}
.home-mouse-none {
  opacity: 0;
}
.home-mouse span {
  position: absolute;
  top: 70%;
  left: 60%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50px;
  box-sizing: border-box;
  transition: 1s;
}
.home-mouse span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}